/* Number ke styles */

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

.uniform-width {
  width: 100px; /* Set your desired width */
}

/* Styles End */

h3 {
  margin-top: 60px;
  background: linear-gradient(
    180deg,
    rgb(27, 155, 220) 0%,
    rgb(117.94, 208.84, 255) 54.51%,
    rgb(27, 155, 220) 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: normal;
  text-align: center;
  font-family: Poppins;
}

.page-container.calculator {
  padding: 200px;
}

.row.main-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-range-slider {
  margin-top: 10px;
  width: 60%;
  display: flex;
}

.mt-7 {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.753);
  border: 1px solid #fff;
  width: 10vw;
  height: 5vh;
  margin-left: 14vw;
}

.mb-4 {
  margin: 30px;
}

.slider-container {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 30px;
  background-color: #f9f9f9;
  margin: 20px;
}

.input-section {
  margin-bottom: 8% !important;
}

.text-and-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.headers {
  color: #1b9bdc;
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: Poppins;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper::after {
  content: "%";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: black;
}

.input-wrapper-principle {
  position: relative;
  display: inline-block;
}
.input-wrapper-principle::after {
  content: "₹";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: black;
}
.form-cc {
  padding-right: 10px; /* Adjust to make space for the symbol */
}
.applyNowContainerMobile {
  display: none;
}

.applyNow {
  width: 100%;
  padding: 10px;
  font-size: 1.25rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: 60%;
}

.applyNow:hover {
  background-color: #0056b3;
}

.pie {
  height: 30vh;
  width: 30vw;
}

.caclulator-card {
  border-radius: 32px;
  background: linear-gradient(140deg, #5e7784 5.94%, #151b1e 90.73%);
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 1px solid #3caff5;
  /* margin: 50px;
    padding: 150px 50px; */
}

.applyNow {
  border-radius: 0px !important;
  border: 1px solid #fff;
  background: linear-gradient(91deg, #3caff5 -2.45%, #1a69a3 97.01%);
  color: #fff;
  /* font-weight: 700; */
  border-image-source: linear-gradient(to left, #1b9bdc, #a9e2ff, #1b9bdc);
  border-width: 1px;
  border-image-slice: 1;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: round;
  font-size: 18px;
  font-family: Poppins;
  padding: 6px;
  /* margin: 30%; */
  /* margin-left:230px */
}

.text-header {
  background: linear-gradient(
    180deg,
    rgb(27, 155, 220) 0%,
    rgb(117.94, 208.84, 255) 54.51%,
    rgb(27, 155, 220) 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 45px;
  font-weight: 600;
  line-height: normal;
  font-family: Poppins;
  width: 100%;
  text-align: left;
}

.colors {
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
  height: 10px;
  font-size: 16px;
  margin: 20px;
  color: #fff;
  font-weight: 400;
}

.lightBlue {
  border-left: 10px solid #0d6efd;
  height: 10px;
  font-size: 18px;
  margin: 10px 10px;
  color: #fff;
  font-weight: 400;
}

.whiteBox {
  border-left: 10px solid #ffff;
  height: 10px;
  font-size: 18px;
  margin: 10px 10px;
  color: #fff;
  font-weight: 400;
}

.purpleBox {
  border-left: 10px solid #6610f2;
  height: 10px;
  font-size: 18px;
  margin: 10px 10px;
  color: #fff;
  font-weight: 400;
}
.interestAndPay {
  display: flex;
  justify-content: center;
}
.vlCalci {
  /* border-left: 2px solid #052c65; */
  font-size: 18px;
  margin: auto;
}
.aboutEmi {
  text-align: left;
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: 300;
  color: #fff;
  font-family: Poppins;
}
.EmiElements {
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: 300;
  color: #fff;
  font-family: Poppins;
}
.emi-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 30px;
  font-size: 1.4rem;
  padding-left: 2%;
  padding-right: 2%;
}