  
h3{
    margin-top: 60px;
        background: linear-gradient(180deg, rgb(27, 155, 220) 0%, rgb(117.94, 208.84, 255) 54.51%, rgb(27, 155, 220) 100%);
        background-clip: text;
        color: transparent;
        font-size: 45px;
        font-weight: 600;
        margin-bottom: 1rem;
        line-height: normal;
        text-align: center;
        font-family: Poppins;
}
.page-container.calculator {
    padding: 20px;

}

.mainDivSlider {
    margin-top: 20px;
}

.row.main-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.slider-container {
    width: 50%;
    padding: 10px;
    height: 10px;
}

.slider {
    width: 100%;
}

/* .markers {
    position: relative;
    width: 100%;
    height: 10px;
    margin-top: 10px;
}
    
.marker {
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: #333;
} */
.form-range-slider{
    width: 60%;
}

.slider-container {
    background-color: transparent;
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
    margin: 20px;
    border: 1px solid #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mt-7{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.753);
    /* border-radius: 8px; */
    /* font-size: 18px; */
    /* height: 48px; */
    border: 1px solid #fff;
    width: 10vw;
    margin-left: 14vw

}


.pie-chart-container{
    background-color: transparent;
    width: 100%;
    height: 80%;
    transition: transform 0.2s;
    margin: 20px;
    border: 1px solid #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.output-container{
    background-color: transparent;
    width: 100%;
    height: 10%;
    transition: transform 0.2s;
    margin: 20px;
    border: 1px solid #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

